/*Reset CSS*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-white:#fff;
    --color-black:#000;
    --color-gray:#ccc;
    --color-full-ticket:#f44336;
}
html{
    scroll-behavior:smooth ;
}

body {
    font-family: "Poppins", sans-serif;
}

/*
1. Từ ngoài vào trong 
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/*
1. VỊ TRÍ
2. KÍCH THƯỚC
3. MÀU SẮC
4. KIỂU DÁNG
*/
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-3{
    width: 33.33333%
}
.col-2{
    width: 50%;
}
.col-1{
    width: 100%;
}
.text-white{
    color: var(--color-white) !important;
}
.text-center{
    text-align: center !important;
}
.pull-right{
    float: right!important;
}
.btn:hover{
    color: var(--color-black);
    background-color: var(--color-gray);
    cursor: pointer;
}
.btn{
    color: var(--color-white);
    background-color: var(--color-black);
    text-decoration: none;
    padding:11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;   
}
#wrapper{

}
/* Header */
#header{
    height: 46px;
    background-color: var(--color-black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    #nav {
        display: inline-block;
        list-style-type: none;

        .subnav{
            min-width: 160px;
            display: none;
            position: absolute;
            top: 100%;
            background-color: var(--color-white);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

            li{
                width: 200px;
                position: relative;
            }

            li:hover a{
                background-color: var(--color-gray);
                color: var(--color-black);
                display:inline-block ;
            }

            a {
                color: var(--color-black);
                width: 200px;
                padding: 0 12px;
                line-height: 38px;
                text-transform: lowercase;
            }
        }

        li {
            display: inline-block;
            position: relative;
        }

        li:hover .subnav{
            display: block;
        }

        li:hover>a{
            background-color: var(--color-gray);
            color: var(--color-black);
            display:inline-block ;
        }

        a {
            text-transform: uppercase;
            color: var(--color-white);
            text-decoration: none;
            line-height: 46px;
            padding: 0 24px;
        }
    }

    .search {
        float: right;

        .search-icon {
            font-size: 20px;
            color: var(--color-white);
            line-height: 46px;
            padding: 0 22px;
        }
    }
    .search:hover{
        background-color: var(--color-full-ticket);
        cursor: pointer;
    }
}
/* Banner */
#banner{

}

/* Slider */
#slider{
    position: relative;
    margin-top: 46px;
    /* background: url('/assets/img/main-image-1000px.jpg') top center / cover no-repeat ; */

    .slider-img {
        width: 100%;
        vertical-align: middle;
    }
    .text-content{
        position: absolute;
        bottom: 47px;
        color: var(--color-white);
        left: 50%;
        transform: translateX(-50%);
        
        .text-heading{
            text-align: center;
            font-weight: 500;
        }
        .text-description {
            margin-top: 25px;
        }

    }
}

/* Container */
#container{
    /* height: 1000px;
    background-color: var(--color-gray);   */
    /* Content */
    #content{

        .content-section{
            width: 800px;
            margin-right: auto;
            margin-left: auto;
            padding: 64px 0 112px;

            .section-heading{
                letter-spacing: 4px;
                font-size: 30px;
                text-align: center;
                font-weight: 400;
                margin: 10px 0;
            }
            .section-sub-heading {
                text-align: center;
                line-height: 1.5;
                margin: 15px 0;
                font-size: 15px;
                font-style: oblique;
                opacity: 0.6;  
            }
            .about-text{
                text-align: justify;
                margin: 15px 0;
                font-size: 15px;
                line-height: 1.5;
            }
            .member-name{
                margin: 15px 0;
                font-size: 15px;
            }
            .member-img{
                margin-top: 15px;
                width: 154px;
                border-radius: 5px;
            }
        }
        .tour-section{
            background-color: var(--color-black);
            margin-top:40px;

            .tickets-list{
                margin-top: 40px;
                list-style: none;
                background-color: var(--color-white);
                overflow: hidden;
                
                 li {
                    color:#757575;
                    font-size: 15px;
                    padding:11px 16px ;
                    border-bottom: 1px solid #ddd;

                    .sold-out{
                        background-color: var(--color-full-ticket);
                        color: var(--color-white);
                        padding: 3px 4px;
                        margin-left: 16px;
                    }
                    .quantity{
                        float: right;
                        width: 24px;
                        height: 24px;
                        background-color: var(--color-black);
                        color:var(--color-white);
                        border-radius: 50%;
                        text-align: center;
                        line-height: 24px;
                        margin-top: -3px;
                    }
                }
            }

            /* Places */
            .places-list{
                overflow: hidden;
                margin-top: 32px;

                .place-img:hover{
                    opacity: 0.6;
                }
                .place-img{
                    width: 100%;
                    display: block;
                }
                .place-body{
                    background-color: var(--color-white);
                    padding: 16px;
                    font-size: 15px;

                    .place-heading{
                        font-size :15px;
                        font-weight: 600;
                    }
                    .place-time{
                        margin-top: 15px;
                        color: #757575;
                    }
                    .place-desc{
                        margin-top: 15px;
                        line-height: 1.4;
                    }

                }
            }
        }

        .contact-control{
            margin-top: 48px;

            .contact-info{
                font-size: 18px;
                line-height: 1.5;
            }
            .contact-info i[class*="ti-"]{
                width: 30px;
                display:inline-block;
                
            }
            .contact-form{
                font-size:15px;

                .form-control{
                    padding:11px;
                    border:1px solid var(--color-gray);
                    width:100%
                }
            }
        }
    }

}



/* map */
.map-section img{
    width: 100%;
}


#footer{
    padding: 64px 16px;
    text-align: center;

    .copyright a,
    .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
    }

    .social-list{
        font-size: 24px;

        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .copyright{
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.6);

        a{
            color: rgba(0, 0, 0, 0.6);
        }
    }

}

/* Modal */
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;

    .modal-container{
        background-color: var(--color-white);
        width: 900px;
        min-height: 200px;
        position: relative;
        max-width: calc(100% - 32px);
        animation: modalFadeIn ease 0.5s ;
        
        .modal-close{
            .icon-close{
                position: absolute;
                right: 0;
                top: 0;
                color: var(--color-white);
                padding: 12px;
                cursor: pointer;
                opacity: 0.8;
            }
            .icon-close:hover{
                opacity: 1;
            }
        }

        .modal-header{
            background-color: #009688;
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:30px;
           
            .icon-bag{
                margin-right: 16px;
            }
        }
        .modal-body{
            padding: 16px;

            .modal-label{
                display: block;
                font-size: 15px;
                margin-bottom: 12px;
                
                .icon-shopping{

                }
            }
            .modal-inpput{
                border: 1px solid var(--color-gray);
                width: 100%;
                padding: 10px;
                font-size: 15px;
                margin-bottom: 24px;               
            }
            #buy-tickets{
                background-color: #009688;
                border: none;
                color: var(--color-white);
                width: 100%;
                font-size: 15px;
                text-transform: uppercase;
                padding: 18px;
                cursor: pointer;
            }
            #buy-tickets:hover{
                opacity: 0.8;
            }

        }
        .modal-footer{
            padding: 16px;
            text-align: right;

            a{
                color:#2196f3;
            }
        }       
}

}
.modal.open{
    display: flex;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}






