*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    list-style-type: none;
    font-family: sans-serif;
}

#wrapper{

}

#header{
    height: 46px;
    background-color: #000;
}

#nav ,.subnav{
    list-style-type: none;
    position: relative;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav li a {
    display: inline-block;
    text-transform: uppercase;
}
#nav > li > a {
    color: #ccc;
}

#nav > li:hover >a {   
    
    background-color: #ada9a9;
}

#nav > li > a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    
}

#nav li:hover .subnav{
    display: block;
}


#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 , 0.3);

}
.subnav li:hover a {
    background-color: #ccc;  
}


.subnav li a {
    width: 160px;
    color: #000;
    text-decoration: none;
    line-height: 38px;
    padding: 0 12px;
    
}

#banner{

}

#slider{
    height: 500px;
    /* background-color: #534d4d; */
}

#container{

}

#content{

}

#footer{

}
