// colors
$White:#fff;
$Black:#000;
$Gray:#ccc;
$Red:#f44336;
$Aqua:#009688;

// margin
$mr-l: -8px;
$mr-r: -8px;

// padding
$pd-l: 8px;
$pd-r: 8px;

// Width
$w-100: 100%;
$w-75: 75%;
$w-50: 50%;
$w-33: 33.33333%;
$w-25: 25%;